<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Settings" type="Deck.AppSettings, Deck" />
  </configSections>
  <Settings MixerType="1" />
    
  <!-- 
  
    MixerType:
    1 - Ручное тасование - перекладывание по одной порции n*раз 
    2 - Простое тасование - случайная карта перекладывается в случайное место n*раз
  -->   
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>